# --- Java & Maven ---
target/
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear

# --- Maven Wrapper ---
.mvn/
mvnw
mvnw.cmd

# --- VS Code ---
.vscode/
*.code-workspace

# --- IntelliJ IDEA ---
.idea/
*.iws
*.iml
*.ipr
out/

# --- Eclipse / STS ---
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# --- OS Specific ---
.DS_Store
Thumbs.db
desktop.ini

# --- Environment & Database ---
.env
*.db
/data/